<div class="flex">
  <div class="taille">
    <h2>Taille</h2>
    <button mat-stroked-button (click)="openDialogTailles()" class="allergies">
      tailles
    </button>
  </div>

  <div class="base">
    <mat-button-toggle-group name="base" aria-label="">
      <mat-button-toggle value="1">Tomate</mat-button-toggle>
      <mat-button-toggle value="2">Crème</mat-button-toggle>
    </mat-button-toggle-group>
  </div>
</div>

<div class="ingredients">
  <div class="ingredients-list">
    <div
      *ngFor="let item of ingredients"
      class="ingredients-item"
      (click)="toggle(item.name)"
      [ngClass]="{ selected: isSelected(item.name) }"
    >
      <span>{{ item.name }}</span>
    </div>
  </div>
</div>

<mat-label>Allergènes</mat-label>
<mat-selection-list>
  <mat-list-option>Arachides</mat-list-option>
  <mat-list-option>Produits laitiers</mat-list-option>
  <mat-list-option>Soja</mat-list-option>
  <mat-list-option>Oeufs</mat-list-option>
  <mat-list-option>Crustacés</mat-list-option>
  <mat-list-option>Poissons</mat-list-option>
  <mat-list-option>Fruits à coques</mat-list-option>
  <mat-list-option>Céleri </mat-list-option>
</mat-selection-list>
