.footer-1 {
    position: fixed;
    bottom: 0;
    padding: 12px;
    left: 0;
    width: 100%;
    text-align: center;
    border-top: 1px solid #e7e7e7;
    background-color: white;
}

.total-1 {
    font-weight: 500;
}

.footer-2 {
    position: fixed;
    bottom: 0;
    padding: 12px;
    left: 0;
    width: 100%;
    text-align: center;
    // border-top: 1px solid #e7e7e7;
}

.total-2 {
    margin-left: 2em;
}